html{
    scroll-behavior: smooth;
}

#section1 {
    height: 100vh;
    background-color: pink;
  }
  
  #section2 {
    height: 100vh;
    background-color: yellow;
    justify-content: below;
  }

  #intro{
    background-color:pink;
    height: 100vh;
  }

  #readMore{
    background-color:green;
  }

div.title {
    text-align: center;
    font-size: 2cm;
}

body { 
    background-color: #fef8e6;
    
}

div.imageCrop {
padding:30px

}

div.frameProfilePic {
position: relative;
background: #7BCECC;
border-radius: 30px;
margin: auto

}
img.roundImg {
    border-radius: 30px;

}


h3 {
    text-align:center;
    text-decoration: underline;
    font-size: x-large;
}

h4 {
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
}

.aboutInfo {
    text-align:center;
}

div.textFrame {
    background: #7BCECC;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    }

p { 
    padding-right: 30%;
    padding-left: 30%;
	margin-top: 20px; 
	text-align: justify;
    text-indent: 30px;
    font-size: large;
}

.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.roundImg2 {
    margin-left: auto;
    margin-right: auto;
}

.main2 {
    text-align: center;
    height: 100vh;
}

.sectionTitle{
    text-align: center;
    
}


