html{
    scroll-behavior: smooth;
}


#section1 {
    height: 100vh;

  }
  
  #photoGallery {
    height: 100vh;
  
  }

  #intro{
    height: 160vh;
    background-image: url("images/retro-bg.jpg");
    background-size: contain;
    overflow-y: scroll;
  }

  #readMore{
    height: 100vh;
    background-image: url("images/pattern-bg.jpg");
    background-size: contain;
    overflow-y: scroll;
  }

  footer{
    height: 30vh;
    background-image: url("images/footer-bg.jpg");
    background-size: contain;
    overflow-y: scroll;
  }


div.title {
  background-image: url("images/butterflis-title.png");
  background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
    font-size: 2.5cm;
    padding-left:5%;
    padding-right:5%
    
}

body { 
    background-color: #fef8e6;
    
}

div.imageCrop {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;

}

div.frameProfilePic {
position: relative;
background: #7BCECC;
border-radius: 30px;
margin: auto;

}
img.roundImg {
    border-radius: 30px;

}
h1{
  margin-top: 0%;
  font-family: arbotek, sans-serif;
  font-weight: 900;
  font-size: 12cm;
  color: #bc5148;
}

h2{
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1.6cm;
  color: #bc5148;

}

h3 {
    text-align:center;
    text-decoration: underline;
    font-size: xx-large;
   
    
}

h4 {
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: arbotek, sans-serif;
    font-weight: 900;
    font-size: 2.3cm;
    color: #bc5148;
}

.aboutInfo {
    text-align:center;
    font-size: 1.6cm;
  
}

div.textFrame {
    background-color: #7BCECC;
    outline-color: #30b2b0;
    outline-style: solid;
    outline-width: thick;
    border-radius: 60px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 5%;
    }

p { 
    padding-right: 30%;
    padding-left: 30%;
	margin-top: 20px; 
	text-align: justify;
    text-indent: 30px;
    font-size: 1cm;
}

.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;

   
}

.roundImg2 {
    margin-left: auto;
    margin-right: auto;
}

.main2 {
    text-align: center;
    height: 130vh;
   
}

.main3 {
    height: 100vh;
    text-align: center;

}

.sectionTitle{
    text-align: center;
    font-size: 8cm;
    font-family: arbotek, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #bc5148;
    
}

  .aboutText {
    text-align:left;
    
     
  }

  .rotateImg {
    transform: rotate(-30deg);
  }

  .rotateImg2{
    transform: scaleX(-1);

   
  }

  .rotateImg3 {
    transform: rotate(110deg);
    height: 500px;
    width: auto;
    padding-left:30%;
    padding-bottom: 0%;
  
  }

  .rotateImg4 {
    transform: rotate(-40deg);
  }

  .iconCrop {
    padding-top: 5%;
     width: 216px; 
     height: auto;
  }


  .rotateImg5{
    transform: rotate(-50deg);
  }

  .centerEdge {
    display: block;
    padding-left: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }


  .container {
    display: flex;
}

.container__half {
    flex: 1;
}

.subheading {
  padding-bottom: 50px;
  text-align:center;
  font-size: 1.6cm;
  padding-top:0%

}

  
  